<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitoff! - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic">
</head>
<body>
    
    <h1>TWITOFF!!!</h1>

    {% block contenet %} 
    <form action="/user" method="post">
        <input type="text" name="user_name" placeholder="Twitter Name Goes Here">
        <input type="submit" value="Add User">
    </form>
    {% endblock %} 

</body>
</html>